.App {
  max-width: 100%;
  width: 1200px;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

.video-area {
  grid-column-start: 1;
  grid-column-end: 8;
}

.video-area .controls {
  display: flex;
  justify-content: space-between;
}


.video-area video {
  background-color: grey;
  width: 900px;
  max-width: 100%;
}

.video-area .scrubber {
  display: block;
  width: 100%;
}

.options {
  padding: 10px 10px 0 10px;
  grid-column-start: 8;
  grid-column-end: 11;
  display: flex;
  flex-direction: column;
}

.options .marks {
  flex-grow: 2;
}

.options .marks .mark-list {
  background-color: lightgray;
  overflow-y: scroll;
  border-radius: 8px;
  padding: 5px;
  height: 100%;
}

.options .video-annotate {
  /*flex-grow: 1;*/
  position: relative;
}

.options .video-annotate .buttons {
  position: absolute;
  bottom: 0;
}

.form-group {
  display: block;
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.25rem;
}

.form-group input {
  display: block;
  width: 100%;
}

.form-group select {
  display: block;
  width: 100%;
}

.hidden {
  display: none;
  visibility: hidden;
}